---
import { getData, getGlobal } from '../lib/api.js';

const data = await getData(`/home.json`);
const global = await getGlobal();
const origin = Astro.url.origin;
const currentLang = data.lang;

---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="flex">
			<h1 class="text-4xl">index</h1>
			<h2 class="text-xl mb-10">Current language: {currentLang}</h2>
			<h3>Multilanguages - works</h3>
			<nav class="flex">
				{
					global.navHeader &&
						global.navHeader.map((item) => {
								return (
									<a
										href={`${origin}/${currentLang}/${item.uri}`}
										target={'_self'}
										rel='noopener'
										}
									>
										{item.title}
									</a>
								);
						})
				}
			</nav>
			<h3>Single Language - not working!</h3>
			<nav class="flex">
				{
					global.navHeader &&
						global.navHeader.map((item) => {
								return (
									<a
										href={`${origin}/${item.uri}`}
										target={'_self'}
										rel='noopener'
										}
									>
										{item.title}
									</a>
								);
						})
				}
			</nav>
		</div>
	</body>
</html>

<style lang="css">
	.flex {
		display: flex;
		flex-direction: column;
	}
</style>