---
const nav = [
{

			title: "impressum",
			uri: "impressum",
		},
		{

			title: "datenschutz",
			uri: "datenschutz",
		}
]
const { currentLang } = Astro.props;
---
<nav class="flex">
    {
        nav &&
            nav.map((item) => {
                    return (
                        <a
                            href={`/${currentLang}/${item.uri}`}
                            target={'_self'}
                            rel='noopener'
                            }
                        >
                            {item.title}
                        </a>
                    );
            })
    }
</nav>
<h3>Single Language - not working!</h3>
<nav class="flex">
    {
        nav &&
            nav.map((item) => {
                    return (
                        <a
                            href={`/${item.uri}`}
                            target={'_self'}
                            rel='noopener'
                            }
                        >
                            {item.title}
                        </a>
                    );
            })
    }
</nav>

<style lang="css">
	.flex {
		display: flex;
		flex-direction: column;
	}
</style>